.partiallySeen {
  background-color: var(--ifm-color-primary);
  border-radius: 0;
}

.partiallySeen path {
  stroke: var(--ifm-color-secondary);
  stroke-width: 3;
  fill: rgba(255, 255, 255, 0.6);
}
