node_modules
**/mode_modules

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Example testing project
packages/example

coverage
