.transitionTunnel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding: 2rem;
}

.tunnelLane {
  width: 100%;
  max-width: 1140px;
  min-width: 360px;
  overflow: visible;
}

@media (max-width: 720px) {
  .tunnelLane {
    transform: rotateZ(50deg);
  }
}
